div.section {
    margin-top: 20px;
}

a#add_user_button {
    color: white;
}

a#add_user_button:hover{
    color: white;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    border-color: #b92c28;
}

a#add_group_button {
    color: white;
}

a#add_group_button:hover{
    color: white;
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

img.avatar {
    width: 200px;
    height: 200px;
}

ul.sidebar-nav > li.active > a {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

div#groups_container {
    margin-top: 0;
    margin-bottom: 0;
}

span.error {
    color: red;
}